:root {
  /* font-families */
  --cursive: "Architects Daughter", monospace;
  --subtitle: "Titillium Web", sans-serif;
  --parag: "Dosis", sans-serif;
  /* colours */
  --black: #0b090a;
  --red: #e5383b;
  --grey: #b1a7a6;
  --white: #f5f3f4;    
  --green: #5ABAB5;
  --violet: #C598EE;
  /*burger menu variables */
  --bar-width: 35px;
  --bar-height: 3px;
  --bar-gap: 6px;
  --animation: 200ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

img {
  max-width: 100%;
  display: block;

}

body {
  font-size: 18px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--white);
  text-decoration: none;
 }

body {
  font-family: var(--parag);
  color: var(--white);
  background: var(--black);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}


/* HEADER SECTION  */

.burger__menu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between; /* moves the logo and menu to each side */
  align-items: center; /* centers them vertically */
  padding: 1rem;
  color: var(--red);
  border-bottom: 1px solid var(--grey);
}

.header__title {
  font-family: var(--cursive);
  font-size: 3rem;
  margin: 0;
}

.navbar {
  flex-basis: 75%; /* the navbar's width was the width of the items, but now it's wider.the issue now is the menu has moved to the left */
}

.nav__list {
  display: flex; /* places the menu in a row */
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center; /* centers the menu vertically even further to align with buttom */
}

.nav__list {
  cursor: pointer;  
  justify-content: flex-end; /* this fixes the issue in .navbar flex-basis */
}

.nav__item:hover {
  text-decoration: underline;
  color: var(--white);
}

.nav__item {
  text-align: center; /* centers the text AND the button within the changing space */
  flex-grow: .1; /* decimals are valid */
}

.nav__item button {
  font-family: var(--subtitle);
  font-size: inherit;
  font-weight: 600;
  color: var(--black);
  background: var(--green);
  appearance: none;
  border: none;
  padding: .5rem 1rem;
  border-radius: 8px;
}

.nav__item button:hover {
  border: 2px solid var(--green);
}


/* MAIN SECTION */

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* HERO SECTION */

.hero {
  border-bottom: 1px solid var(--grey);
  padding: 1rem 2rem;
}

.hero__title {
  font-family: var(--subtitle);
  margin: 0;
  color: var(--violet);
}

.host__card {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.host__img {
  border-radius: 50%;
}
.hosted-by {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
}

.hosted-by span {
  font-weight: 600;
}


/* INFO SECTION  */

.info__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--grey);
}

.info__card {
  display: flex;
  padding: .3rem 1rem;
}

.material-symbols-outlined {
  padding: .4rem 1rem 0 0;
  color: var(--violet);
}

.info p {
  margin: .2rem 0;
}

.info__img {
  width: 100%
}

/* DETAILS SECTION */

.details__img {
  width: 100%
}

.details__title {
  color: var(--violet);
  font-size: 2rem;
  font-family: var(--subtitle);
}

.details__info {
  padding: 1rem;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 880px) {

  .main {
    margin-top: 2em;
    flex-direction: row-reverse;
    /* gap: 0; */
  }

  .details {
    flex: 0 1 auto;
  }

  .info__section {
    flex: 1 0 auto;
    border: 1px solid var(--grey);
    border-radius: 32px;
    background: var(--white);
    color: var(--black);
    margin: 0 2rem;
    max-height: 50%;
  }
  
  .info__card {
    padding: 2rem 0 0 2rem;
  }
}


@media only screen and (max-width: 580px) {

  .header {
    flex-direction: column;
    padding: .5rem 1rem;
    min-width: 245px;
  }
  
  .nav__list {
    flex-direction: column;
    min-height: 100vh;
    background: var(--grey);
    width: 70vw;
    justify-content: flex-start;
    padding-top: 5rem;
  }

  .nav__item {
    flex-grow: 0.04;
  }

  .nav__item a {
    color: var(--black);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .header__title {
    margin-right: auto;
  }

  .nav__item button {
    font-size: 1.2rem;
    opacity: 1;
  }

  .burger__menu {
    --x-width: calc(var(--burger-height) * 1.41421356237); /* calculates the length of the lines when they become a cross (multiply by the square root of 2) */
    position: absolute;
    top: 27px;
    right: 30px;  
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    cursor: pointer;
    padding: .5rem 0;
  }

  .burger__menu input, /* checkbox. middle line */
  .burger__menu::before, /* top line */
  .burger__menu::after { /* bottom line */
    margin: 0; /* by default the middle line contained some margin */
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: 18px;
    background: var(--white);
    transition: opacity var(--animation), /* transition for opacity, width, length and rotate */
      width var(--animation), 
      rotate var(--animation),
      translate var(--animation);
    transform-origin: left; /* the axis where the lines rotate are now on the left */
  }

  .burger__menu input {
    appearance: none; /* removes checkbox appareance and takes the above settings (widht, length) */
    pointer-events: none; /* disable click on the checkbox so that the click is handled by the b_menu */
  }

  .burger__menu:has(input:checked)::before {
    rotate: 45deg; /*rotates the top line downwards */
    width: var(--x-width); /*sets the new length of the line when it becomes a cross */
    translate: 0 calc(var(--bar-height) / -2); /*moves the axis slightly up */
  }

  .burger__menu:has(input:checked)::after {
    rotate: -45deg; /* rotates the bottom line upwards */
    width: var(--x-width); /*sets the new length of the line when it becomes a cross */
    translate: 0 calc(var(--bar-height) / 2); /*moves the axis slightly down */
  }

  .burger__menu input:checked { /* removes the middle line */
    opacity: 0;
    width: 0;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    transform: translateX(-100%); /* Initially hide the menu above the viewport */
    transition: transform var(--animation); /* slides down the mwnu smootlhy */
    opacity: 0;
    transition: opacity var(--animation);  /* opcity transitions in */
    padding-bottom: 1rem;
    background: var(--orange);
  }

  .burger__menu:has(input:checked) + .navbar {
    transform: translateX(0); /* resets the setting above (-150%) */
    opacity: 1; /* resets the setting above (0) */
  }

  header:has(.burger__menu input:checked) + main {
    margin-top: 9rem; /* moves the content down to make space for the menu */
  }

}

